.App {
  text-align: center;
}

.crossword-board-row:after {
  clear: both;
  content: '';
  display: table;
}

.crossword-square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.crossword-square input {
  width: 100%;
  height: 100%;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: black;
}

.square-label {
  position: absolute;
  font-size: 10px;
  line-height: 10px;
}

.square-disabled {
  background-color: grey;
}
